:root {
    --bg-color: #2e2e2e;
    --text-color: #cccccc;
    --accent-color: #00bcd4;
    --header-bg: #1a1a1a;
    --widget-bg: #333;
    --widget-hover: #444;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    /* font-family: Arial, sans-serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    line-height: 1.4;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #1a1a1a;
    color: var(--header-bg);
    height: 60px;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f5f5f5;
}
header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 20vh;
    padding: 1rem;
    box-sizing: border-box;
    font-size: large;
}

section h1,
section h2,
section h3,
p {
    margin: 0.5rem 0;
}

#intro {
    background: linear-gradient(135deg, #3a3a3a, #2e2e2e);
    padding: 3rem 1rem;
    text-align: center;
}

.intro-text {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-color);
  }

.big-title {
    /* font-size: 200%; */
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.overview-gif {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overview-gif > img {
    width: 960px;
    height: auto;
}

.about-me {
    font-size: large;
}

.projets-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    max-width: 1200px;
    background-color: #2a2a2a;
}


.projet-widget {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    background-color: #333;
    color: #f5f5f5;
}

.projet-widget:hover {
    transform: translateY(-5px);
    background-color: #444;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.projet-widget img {
    width: 100%;
    height: auto;
}

.projet-highlight {
    grid-column: span 2;
    grid-row: 1;
    transform: scale(0.8);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #3a3a3a;
    color: #f5f5f5;
    font-size: 1.5rem;
}

.projet-highlight:hover {
    transform: scale(0.84);
    background-color: #4a4a4a;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.projet-widget a {
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    transition: color 0.3s, transform 0.3s;
}

.projet-widget a:hover {
    color: #f5f5f5;
    ;
}

.projet-widget b {
    display: block;
    text-decoration: none;
    color: #f5f5f5;
    transition: color 0.3s, transform 0.3s;
}

.projet-widget b:hover {
    color: #000;
}


.projet-highlight-details {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    color: #f5f5f5;
}


.projet-highlight-details .engine {
    color: #13fe00;
    font-weight: bold;
}

.projet-highlight-details .unity {
    color: #13fe00;
    font-weight: bold;
}

.projet-highlight-details .language {
    color: #ff4d4d;
    font-weight: bold;
}


.projet-details {
    font-size: 1.2rem;
    margin-top: 0.35rem;
    color: #f5f5f5;
}


.projet-details .engine {
    color: #52bbf7;
    font-weight: bold;
}

.projet-details .unity {
    color: #13fe00;
    font-weight: bold;
}

.projet-details .godot {
    color: #52bbf7;
    font-weight: bold;
}


.projet-details .language {
    color: #ff4d4d;
    font-weight: bold;
}


.menu>li>a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}


.arrow {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: #f5f5f5;
    transition: transform 0.3s;
}


.dropdown:hover .arrow {
    transform: rotate(180deg);
}


.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
    position: relative;
}

.menu>li {
    position: relative;
    margin: 0;
}


.dropdown-menu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #2a2a2a;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown-menu li a {
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    color: #f5f5f5;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: #444;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.student-number-time {
    color: #f99910;
}

.main-icon {
    width: 150px;
    height: 150px;
}

.projet-contributions {
    font-size: large;
    text-align: left;
    margin-left: 5rem;
    list-style: none;
}

.projet-description {
    line-height: 2;
    margin-bottom: 1.5rem;
}

.description-list-platf {
    list-style: none;
    text-align: justify;
    background-color: #222;
    border-radius: 12px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.description-list-platf li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
}

.description-list-platf li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url("Icons/Icon_reversoul.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.description-list-rush {
    list-style: none;
    text-align: justify;
    background-color: #222;
    border-radius: 12px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.description-list-rush li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
}

.description-list-rush li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url("Icons/cube_icon_red.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.description-list-sokoban {
    list-style: none;
    text-align: justify;
    background-color: #222;
    border-radius: 12px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.description-list-sokoban li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
}

.description-list-sokoban li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url("Icons/golden_disc_sokoban.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.description-list-obg {
    list-style: none;
    text-align: justify;
    background-color: #222;
    border-radius: 12px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.description-list-obg li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
}

.description-list-obg li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    background-image: url("Icons/car_icon_OBG.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.description-list-shmup {
    list-style: none;
    text-align: justify;
    background-color: #222;
    border-radius: 12px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.description-list-shmup li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
}

.description-list-shmup li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-image: url("Icons/rouage_icon_shmup.png");
    background-size: 27px 27px;
    background-repeat: no-repeat;
}

.contribution {
    background-color: #222;
    border-radius: 12px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contribution-title {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.contribution-description {
    text-decoration: none;
    /* padding-left: 2rem; */
    display: block;
    margin: 0;
    padding-left: 1.2em;
    line-height: 2.1em;
}

.contribution-description-platf {
    text-decoration: none;
    /* padding-left: 2rem; */
    display: block;
    margin: 0;
    padding-left: 1.2em;
    line-height: 2.1em;
    list-style: none;
}

.contribution-description-platf li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
    list-style: none;
}

.contribution-description-platf li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-image: url("Icons/Icon_reversoul.png");
    background-size: 27px 27px;
    background-repeat: no-repeat;
}

.contribution-description-rush {
    text-decoration: none;
    /* padding-left: 2rem; */
    display: block;
    margin: 0;
    padding-left: 1.2em;
    line-height: 2.1em;
    list-style: none;
}

.contribution-description-rush li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
    list-style: none;
}

.contribution-description-rush li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-image: url("Icons/cube_icon_green.png");
    background-size: 27px 27px;
    background-repeat: no-repeat;
}

.contribution-description-sokoban {
    text-decoration: none;
    /* padding-left: 2rem; */
    display: block;
    margin: 0;
    padding-left: 1.2em;
    line-height: 2.1em;
    list-style: none;
}

.contribution-description-sokoban li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
    list-style: none;
}

.contribution-description-sokoban li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-image: url("Icons/diamond_disc_sokoban.png");
    background-size: 27px 27px;
    background-repeat: no-repeat;
}

.contribution-description-obg {
    text-decoration: none;
    /* padding-left: 2rem; */
    display: block;
    margin: 0;
    padding-left: 1.2em;
    line-height: 2.1em;
    list-style: none;
}

.contribution-description-obg li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
    list-style: none;
}

.contribution-description-obg li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-image: url("Icons/car_blue_icon_OBG.png");
    background-size: 27px 27px;
    background-repeat: no-repeat;
}

.contribution-description-shmup {
    text-decoration: none;
    /* padding-left: 2rem; */
    display: block;
    margin: 0;
    padding-left: 1.2em;
    line-height: 2.1em;
    list-style: none;
}

.contribution-description-shmup li{
    position: relative;
    margin-bottom: 1.2rem;
    padding-left: 28px;
    line-height: 1.5;
    list-style: none;
}

.contribution-description-shmup li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 27px;
    background-image: url("Icons/airship_icon_shmup.png");
    background-size: 27px 27px;
    background-repeat: no-repeat;
}

.carousel {
    position: relative;
    width: 1080px;
    /* height: 900px; */
    margin: 2rem auto;
    overflow: visible;
    border-radius: 8px;
  }
  
  .carousel-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 ratio */
    background-color: var(--bg-color); /* Couleur de fond pour combler les espaces */
    overflow: visible;
  }
  
  .carousel-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center;
    justify-content: center; */
  }
  
  .carousel-images img {
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(1);
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transition: opacity 0.75s ease-in-out;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
  }
  
  .carousel-images img.active {
    opacity: 1;
    z-index: 2;
    pointer-events: auto;
  }
  
  .carousel-images img.next {
    opacity: 0.5;
    z-index: 1;
    
    left: 50%;
    transform: translate(-30%, -50%) scale(0.8);
    transition: opacity 0.75s ease-in-out;
  }
  
  .carousel-images img.prev {
    opacity: 0.5;
    z-index: 1;
    
    left: -50%;
    transform: translate(30%, -50%) scale(0.8);
    transition: opacity 0.2s ease-in-out;
  }
  
  .carousel button {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .carousel button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }

a {
    color: #f5f5f5;
}

a:hover {
    color: var(--accent-color);
}


ul {
    list-style-position: inside;
    margin: 0;
    padding-left: 1.5rem;
}

li {
    text-indent: 0;
    margin-bottom: 0.5rem;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: 60px;
}


video {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
}

hr {
    border: none;
    border-top: 1.5px solid #f5f5f5;
    margin: 2rem 0;
    width: 100%;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5rem 0;
}